.master-details>.master{
  height: 100%;
  width:287px;
  float:left;
  overflow: hidden;
}

.master-details>.details{
  height: 100%;
  width:calc(100% - 319px);
  float:left;
  padding:16px 16px 0 16px;
}