/* Add application styles & imports to this file! */
body{
  font-family:  "Segoe UI VSS (Regular)","-apple-system",BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size:14px;
  background: #075071;
  color: white;
  box-sizing: border-box;
}